<nav id="topnav" class="navbar navbar-default navbar-static-top" role="navigation">

    <a class="navbar-brand" href="#/dashboard">C.C.M</a>

    <p class="navbar-text pull-right hidden-xs"><a data-toggle="modal" href="#logoutModal" onclick="return false;"
                                                   class="navbar-link">{{userName}} (Sign out)</a></p>

    <a data-toggle="modal" href="#logoutModal" onclick="return false;" class="topnavlink visible-xs pull-right"><span
            class="glyphicon glyphicon-remove-circle"></span></a>

    <div class="dropdown pull-right">
        <a class="topnavlink" data-toggle="dropdown" href="#" onclick="return false;">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>

        <div adrr-notifications class="dropdown-menu" role="menu" aria-labelledby="dLabel"
             adrr-options="notsOpts"></div>
    </div>

    <button class="navbar-toggle" data-target=".navbar-ex8-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</nav>

<ng-switch on="isSenior">
    <div id="sidenav" class="col-sm-2 col-lg-2">
        <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse navbar-ex8-collapse">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{active: state === 'wrapper.dashboard'}">
                        <a href="#/dashboard"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
                    </li>

                    <li ng-class="{active: state.indexOf('wrapper.eng.temp') > -1}">
                        <a href="#/lab-temp"><i class="fa fa-sun-o fa-lg"></i> Lab Temperature</a>
                    </li>

                    <li class="sub" ng-class="{active: state.indexOf('wrapper.eng.lab') > -1}">
                        <a onclick="return false;" class="accordion-toggle"
                           ng-class="{collapsed: state.indexOf('wrapper.eng.lab') === -1}" data-toggle="collapse"
                           href="#collapseLab"><i class="fa fa-truck fa-lg"></i> Concrete Field</a>

                        <ul id="collapseLab" class="nav nav-pills nav-stacked collapse"
                            ng-class="{collapse: state.indexOf('wrapper.eng.lab') === -1, in: state.indexOf('wrapper.eng.lab') > -1}">
                            <li ng-class="{active: state.indexOf('wrapper.eng.lab.inbox') > -1}">
                                <a href="#/labs/inbox">{{isSenior === '1' ? 'Inbox' : 'Sent'}} <span class="stat">({{menuStats[0].lab.inbox}})</span></a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.eng.lab.return') > -1}">
                                <a href="#/labs/returned">Returned <span
                                        class="stat">({{menuStats[0].lab.returned}})</span></a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.eng.lab.archive') > -1}">
                                <a href="#/labs/archive">Archive <span
                                        class="stat">({{yii['Gen']['stat']['archive']}})</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="sub" ng-class="{active: state === 'wrapper.eng.pouring'}">
                        <a onclick="return false;" class="accordion-toggle"
                           ng-class="{collapsed: state.indexOf('wrapper.eng.pouring') === -1}" data-toggle="collapse"
                           href="#collapsePouring"><i class="fa fa-tint fa-lg"></i> Pouring</a>

                        <ul id="collapsePouring" class="nav nav-pills nav-stacked collapse"
                            ng-class="{collapse: state.indexOf('wrapper.eng.pouring') === -1, in: state.indexOf('wrapper.eng.pouring') > -1}">
                            <li ng-class="{active: state.indexOf('wrapper.eng.pouring') > -1}">
                                <a href="#/pourings/inbox">{{isSenior === '1' ? 'Inbox' : 'Sent'}}</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.eng.pouring.return') > -1}">
                                <a href="#" onclick="return false;">Return</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.eng.pouring.archive') > -1}">
                                <a href="#" onclick="return false;">Archive</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.eng.pouring.draft') > -1}" ng-switch-when="0">
                                <a href="#" onclick="return false;">Draft</a>
                            </li>
                        </ul>
                    </li>

                    <li ng-switch-when="1" class="sub" ng-class="{active: state.indexOf('wrapper.rep') > -1}">
                        <a onclick="return false;" class="accordion-toggle"
                           ng-class="{collapsed: state.indexOf('wrapper.rep') === -1}" data-toggle="collapse"
                           href="#collapseReports"><i class="fa fa-bar-chart-o fa-lg"></i> Reports & Statistics</a>

                        <ul id="collapseReports" class="nav nav-pills nav-stacked collapse"
                            ng-class="{collapse: state.indexOf('wrapper.rep') === -1, in: state.indexOf('wrapper.rep') > -1}">

                            <li ng-class="{active: state.indexOf('wrapper.rep.conc') > -1}">
                                <a href="#/report/conc">Concrete</a>
                            </li>

                            <li ng-class="{active: state.indexOf('wrapper.rep.pouring') > -1}">
                                <a href="#/report/pouring">Pouring</a>
                            </li>
                        </ul>
                    </li>

                    <li ng-switch-when="1" class="sub" ng-class="{active: state.indexOf('wrapper.settings') > -1}">
                        <a onclick="return false;" class="accordion-toggle"
                           ng-class="{collapsed: state.indexOf('wrapper.settings') === -1}" data-toggle="collapse"
                           href="#collapseOne"><i class="fa fa-cogs fa-lg"></i> Settings</a>

                        <ul id="collapseOne" class="nav nav-pills nav-stacked collapse"
                            ng-class="{collapse: state.indexOf('wrapper.settings') === -1, in: state.indexOf('wrapper.settings') > -1}">
                            <li ng-class="{active: state.indexOf('wrapper.settings.ir') > -1}">
                                <a href="#/settings/ir/create">IR</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.zone') > -1}">
                                <a href="#/settings/zone/create">Zones</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.pump') > -1}">
                                <a href="#/settings/pump/create">Pumps</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.project') > -1}">
                                <a href="#/settings/project/create">Projects</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.supplier') > -1}">
                                <a href="#/settings/supplier/create">Suppliers</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.shiftList') > -1}">
                                <a href="#/settings/shift-list/create">Shift Lists</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.shiftType') > -1}">
                                <a href="#/settings/shift-type/create">Shift Types</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.pouringType') > -1}">
                                <a href="#/settings/pouring-type/create">Pouring Types</a>
                            </li>
                            <li ng-class="{active: state.indexOf('wrapper.settings.concreteType') > -1}">
                                <a href="#/settings/concrete-type/create">Concrete Types</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</ng-switch>

<div id="maincont" class="col-sm-9 col-lg-10">
    <ol class="breadcrumb">
        <li ng-repeat="(i, item) in breadcrumbItems" ng-class="{active: i !== breadcrumbItems.length - 1}">{{item}}</li>
    </ol>

    <div class="well well-small controls" ng-show="showControls">
        <button ng-repeat="control in controls" ng-click="control.clickHandler()" ng-disabled="control.disabled"
                class="btn btn-primary btn-sm">
            {{control.title}}
        </button>
    </div>

    <view ui-view></view>
</div>

<div id="sidenavBg" class="col-sm-2 col-lg-2 hidden-xs">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>

            <div class="modal-body">
                {{modalMessage}}
            </div>

            <div class="modal-footer">
                <button ng-click="modalCloseFunc()" type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button ng-click="modalFunc()" type="button" class="btn {{modalBtnClass}}" data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Sure to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="logout()" class="btn btn-primary" data-dismiss="modal">Logout</button>
            </div>
        </div>
    </div>
</div>