<nav id="topnav" class="navbar navbar-default navbar-static-top" role="navigation">
	<ng-switch on="isEng">
		<any ng-switch-when="1">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="navbar-brand" href="#/dashboard">C.C.M</a>
			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{'active': state.indexOf('wrapper.dashboard') > -1}"><a href="#/dashboard">Dashboard</a></li>
					<li ng-class="{'active': state.indexOf('wrapper.eng.lab') > -1}"><a href="#/labs">Labs</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/logout">Sign out</a></li>
				</ul>
			</div>
		</any>
	</ng-switch>
	
	<ng-switch on="isSenior">
		<any ng-switch-when="1">
			<a class="navbar-brand" href="#/dashboard">C.C.M</a>
			
			<p class="navbar-text pull-right"><a href="#/logout" class="navbar-link">Sign out</a></p>
		</any>
	</ng-switch>
</nav>

<ng-switch on="isSenior">
	<div ng-switch-when="1" id="sidenav" class="col-sm-3 col-lg-2">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-ex8-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			
			<div class="collapse navbar-collapse navbar-ex8-collapse">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{active: state === 'wrapper.dashboard'}">
						<a href="#/dashboard">Dashboard</a>
					</li>
					
					<li ng-class="{active: state === 'wrapper.eng.lab'}">
						<a href="#/labs">Labs</a>
					</li>
					
					<li class="sub" ng-class="{active: state.indexOf('wrapper.settings') > -1}">
						<a onclick="return false;" class="accordion-toggle" ng-class="{collapsed: state.indexOf('wrapper.settings') === -1}" data-toggle="collapse" href="#collapseOne">Settings</a>
						
						<ul id="collapseOne" class="nav nav-pills nav-stacked collapse" ng-class="{collapse: state.indexOf('wrapper.settings') === -1, in: state.indexOf('wrapper.settings') > -1}">
							<li ng-class="{active: state.indexOf('wrapper.settings.ir') > -1}">
								<a href="#/settings/ir/create">IR</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.zone') > -1}">
								<a href="#/settings/zone/create">Zones</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.pump') > -1}">
								<a href="#/settings/pump/create">Pumps</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.project') > -1}">
								<a href="#/settings/project/create">Projects</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.supplier') > -1}">
								<a href="#/settings/supplier/create">Suppliers</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.shiftList') > -1}">
								<a href="#/settings/shift-list/create">Shift Lists</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.shiftType') > -1}">
								<a href="#/settings/shift-type/create">Shift Types</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.pouringType') > -1}">
								<a href="#/settings/pouring-type/create">Pouring Types</a>
							</li>
							<li ng-class="{active: state.indexOf('wrapper.settings.concreteType') > -1}">
								<a href="#/settings/concrete-type/create">Concrete Types</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</ng-switch>

<div id="maincont" ng-class="{'col-sm-9': isSenior === '1', 'col-lg-10': isSenior === '1', 'col-lg-12': isEng === '1'}">
	<ol class="breadcrumb">
		<li ng-repeat="(i, item) in breadcrumbItems" ng-class="{active: i !== breadcrumbItems.length - 1}">{{item}}</li>
	</ol>
	
	<!--<div class="page-header hidden-xs">
		<h1>{{pageHeader}}</h1>
	</div>-->
	<view ui-view></view>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			
			<div class="modal-body">
				{{modalMessage}}
			</div>
			
			<div class="modal-footer">
				<button ng-click="modalCloseFunc()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button ng-click="modalFunc()" type="button" class="btn {{modalBtnClass}}" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>