<div class="container">
	<form class="form-signin">
		<div class="alert alert-danger" ng-show="wrongCredentials">
			Your credentials are wrong.
		</div>
		<h2 class="form-signin-heading">Please sign in</h2>
		
		<input ng-model="username" class="form-control" type="text" autofocus="" placeholder="Username">
		<input ng-model="password" class="form-control" type="password" placeholder="Password">
		
		<button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

	</form>
</div>