@import '../../vendor/bootstrap/less/variables.less';
@import 'login.less';

/* variables */
	@sidenav_border: 1px solid #cccccc;
/* End */

html, body
{
	height: 100%;
}

/* Angular Grid */
	.redBg
	{
		background-color: #FFBFBF !important;
		
		border-top	 : 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
	}
	
	.yellowBg
	{
		background-color: #FFFFBF;
		
		border-top	 : 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
	}
	
	.ngRow.selected .redBg, .ngRow.selected .yellowBg
	{
		background-color: #C9DDE1 !important;
	}
/* End */

/* top nav */
	#topnav
	{
		margin-bottom: 0;
		
		border: none;
		
		background: #428bca;
	}
	
	#topnav .navbar-brand, #topnav .navbar-link
	{
		color: #FFF;
	}
	
	#topnav .navbar-text
	{
		margin-right: 15px;
	}
	
	.navbar-default .navbar-nav > li > a
	{
		color: #FFF;
	}
/* End */



/* side nav */
	#sidenav
	{
		padding: 0;
	}
	
	#sidenav .navbar
	{
		border: none;
	}

	#sidenav .navbar-collapse
	{
		max-height: 100%;
		
		padding: 0;
	}

	#sidenav li
	{
		margin-top: 0;
	}

	#sidenav a
	{
		color: #585858;
		
		border-radius: 0;
		
		border-bottom: @sidenav_border;
	}
	
	#sidenav li.active > a, #sidenav li a:hover
	{
		background: #ffffff url(../images/sidenav_arrow.jpg) no-repeat right;
		
		color: #428bca;
		
		border-right: #428bca solid 1px;
	}
	
	#sidenav .sub li
	{
		background-color: #fafafa;
	}
	
	#sidenav .sub li a
	{
		padding-left: 30px;
	}
	
	#sidenavBg
	{
		height: 100%;
		
		background: #F8F8F8;
		
		position: fixed;
		
		padding: 0;
		
		top: 0;
		
		left: 1px;
		
		border-right: @sidenav_border;
	}
/* End */



/* Main container */
	#maincont
	{
		padding-top: 15px;
	}
/* End */



/* angular grid */
	.gridStyle
	{
		padding: 0;
		
		/*height: 250px;*/
	}
/* End */



/* Select2 fix */
.select2-container
{
	padding: 0px;
	border-width: 0px;
}

.select2-container .select2-choice
{
	height: 34px;
	line-height: 34px;
}

.select2-search
{
	display: none;
}
/* End */


.cBtn
{
	margin-top: 15px;
}

/* Lab Form */

.labForm textarea
{
	margin-bottom: 15px;
}

/* End */


/* Fix jquery Timepicker */
.ui-timepicker-div dl dd
{
	margin-top: 5px;
	
	padding-left: 10px;
}

.ui-timepicker-div .ui_tpicker_time
{
	margin-top: 0px;
}

.ui-timepicker-div dl
{
	padding-left: 5px;
}
/* End */


/* Fix select2 */
.has-error .select2-container .select2-choice
{
	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
/* End */


@media (min-width: @screen-sm)
{
    body
    {
        padding-top: 50px;
    }
    
	#topnav
	{
		width: 100%;
        
        margin-top: -50px;
	}
    
    #sidenav, #sidenav nav
    {
        height: 100%;
    }
}

@media (max-width: @screen-sm)
{
	#sidenav nav .navbar-header
	{
		border-bottom: @sidenav_border;
	}
	
	.form-control
	{
		/* box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset; */
		
		height: 40px;
	}
}