/* variables */
	@sidenav_border: 1px solid #cccccc;
/* End */

/* login */
	.form-signin
	{
		margin: 0 auto;
		max-width: 330px;
		padding: 15px;
	}

	.form-signin .btn
	{
		margin-top: 15px;
	}

	.bs-callout-danger
	{
		background-color: #FCF2F2;
		border-color: #DFB5B4;
	}

	.bs-callout
	{
		margin: 20px 0;
		padding: 15px 30px 15px 15px;
	}
/* End */



/* top nav */
	#topnav
	{
		margin-bottom: 0;
		
		border: none;
		
		border-radius: 0;
		
		background: #428bca;
	}
	
	#topnav .navbar-brand, #topnav .navbar-link
	{
		color: #FFF;
	}
	
	#topnav .navbar-text
	{
		margin-right: 15px;
	}
/* End */



/* side nav */
	#sidenav .navbar-collapse
	{
		max-height: 100%;
	}

	#sidenav .navbar
	{
		margin-bottom: 0;
		
		border: none;
		border-right: @sidenav_border;
		border-left: @sidenav_border;
		border-bottom: @sidenav_border;
		
		background-color: #f2f2f2;
		
		border-radius: 0;
	}

	#sidenav .navbar-collapse
	{
		padding: 0;
	}

	#sidenav li
	{
		margin-top: 0;
		
		border-top: @sidenav_border;
	}

	#sidenav > .navbar > .navbar-collapse > ul > li:first-child
	{
		border: none;
	}

	#sidenav a
	{
		border-radius: 0;
		
		color: #585858;
	}

	#sidenav li.active > a, #sidenav li a:hover
	{
		background-color: #ffffff;
		
		color: #428bca;
	}
	
	#sidenav .sub li
	{
		background-color: #fafafa;
	}
	
	#sidenav .sub li a
	{
		padding-left: 30px;
	}
/* End */



/* Main container */
	#maincont
	{
		padding-top: 15px;
	}
/* End */



/* angular grid */
	.gridStyle
	{
		padding: 0;
		
		height: 250px;
	}
/* End */  