<form class="form-horizontal" role="form" novalidate>

	<div class="form-group" ng-class="{'has-error': nameForm.$invalid}" ng-form="nameForm">
		<label class="col-lg-2 control-label" for="name">{{metaData.cols['name'].label}}</label>
		<div class="col-lg-6">
			<input class="form-control" ng-model="formData['name']" type="text" ng-required="!metaData.cols['name']['allowNull']" />
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-6">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="formData['state']" ng-checked="formData['state']" /> {{metaData.cols['state'].label}}
				</label>
			</div>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': vrForm.$invalid}" ng-form="vrForm">
		<label class="col-lg-2 control-label" for="v_r">{{metaData.cols['v_r'].label}}</label>
		
		<div class="col-lg-6">
			<select class="form-control" ng-model="formData['v_r']" ng-required="!metaData.cols['v_r']['allowNull']">
				<option ng-repeat="(key, val) in metaData.cols['v_r']['values']" value="{{key}}" ng-selected="formData['v_r'] == key">{{val}}</option>
			</select>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': priorityForm.$invalid}" ng-form="priorityForm">
		<label class="col-lg-2 control-label" for="priority">{{metaData.cols['priority'].label}}</label>
		
		<div class="col-lg-6">
			<select class="form-control" ng-model="formData['priority']" ng-required="!metaData.cols['priority']['allowNull']">
				<option ng-repeat="(key, val) in metaData.cols['priority']['values']" value="{{key}}" ng-selected="formData['priority'] == key">{{val}}</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-6">
			<button class="btn btn-primary" ng-click="submit(formData)" type="submit" ng-disabled="form.$invalid">
				<just_text ng-show="isCreate">Create</just_text>
				<just_text ng-hide="isCreate">Update</just_text>
			</button>
			
			<ng-switch on="isCreate">
				<button class="btn btn-warning" type="reset" ng-click="rest()" ng-switch-when="true">
					Reset
				</button>
				
				<button class="btn btn-danger" ng-click="deselectItem()" type="cancel" ng-switch-default>
					Cancel
				</button>
			</ng-switch>
		</div>
	</div>
	
	<hr />
</form>