<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
    <any ng-show="alert">Successfully saved.</any>
    <any ng-hide="alert">Something went wrong.</any>
</div>

<form id="bcForm" role="form" name="mainForm" class="labForm" novalidate>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="well well-sm">
<div class="row">

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': firstForm.$invalid, 'panel-success': firstForm.$valid}"
         ng-form="firstForm">

        <div class="panel-heading">
            <h3 class="panel-title">1. Basic</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">
                <label for="date" class="control-label">Date</label>

                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal"
                                ng-disabled="state.indexOf('edit') > -1">
                            Frequents
                        </button>
                    </div>

                    <input id="date" readonly="readonly" ng-model="formData.date" class="form-control" type="text"
                           required/>

                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i> </span>
                </div>

                <div class="modal" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Frequents</h4>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="setToday()" onclick="return false;">
                                        Today
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min1Day()" onclick="return false;">
                                        Yesterday
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min2Days()" onclick="return false;">
                                        2 days ago
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min3Days()" onclick="return false;">
                                        3 days ago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': shiftForm.$invalid}" ng-form="shiftForm">
                <label for="shift_id" class="control-label"> shift </label>

                <select id="shift_id" ng-model="formData.shift_id" class="form-control"
                        ng-disabled="loginData.role == 4 && state.indexOf('edit') > -1" required>
                    <option value="">Select...</option>
                    <option ng-repeat="shiftType in yii['ShiftType']['list']"
                            ng-selected="shiftType.id === formData.shift_id"
                            value="{{shiftType.id }}">
                        {{shiftType.name}}
                    </option>
                </select>
            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': irForm.$invalid, 'panel-success': irForm.$valid}" ng-form="irForm">

        <div class="panel-heading">
            <h3 class="panel-title">2. Item</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="ir" class="control-label">IR</label>
                <input id="ir" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.ir" required/>
            </div>

            <div class="form-group">
                <label for="axis" class="control-label">Axis</label>
                <input id="axis" class="form-control" type="text" ng-model="axis" readonly/>
            </div>

            <div class="form-group">
                <label for="level" class="control-label">Level</label>
                <input id="level" class="form-control" type="text" ng-model="level" readonly/>
            </div>

            <div class="form-group">
                <label for="zone" class="control-label">Zone</label>
                <input id="zone" class="form-control" type="text" ng-model="zone" readonly/>
            </div>

            <div class="form-group">
                <label for="area" class="control-label">Area</label>
                <input id="area" class="form-control" type="text" ng-model="area" readonly/>
            </div>

            <div class="form-group">
                <label for="pt" class="control-label">Pouring Type</label>
                <input id="pt" class="form-control" type="text" ng-model="pouring_type" readonly/>
            </div>
        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-6 case1">
    <div ng-class="{'panel-danger': secondForm.$invalid, 'panel-success': secondForm.$valid}" class="panel"
         ng-form="secondForm">

        <div class="panel-heading">
            <h3 class="panel-title">3. Pouring location, rebars, and embeds are clean and free foreign materials</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': lreStateForm.$invalid}"
                 ng-form="lreStateForm">

                <label for="lre" class="control-label">State</label>

                <select id="lre" class="form-control" ng-model="formData.lre" ng-form="lreStateForm" required
                        ng-class="{'has-error': lreStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="lrec" class="control-label">Remark</label>

                <input id="lrec" class="form-control" type="text" ng-model="formData.lre_comment"/>

            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-6 case2">

    <div ng-class="{'panel-danger': fourthForm.$invalid, 'panel-success': fourthForm.$valid}" class="panel"
         ng-form="fourthForm">

        <div class="panel-heading">
            <h3 class="panel-title">4. Concreting tools and equipments are clean and free of old concrete, mud, etc</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': cteStateForm.$invalid}" ng-form="cteStateForm">

                <label for="cte" class="control-label">State</label>

                <select id="cte" class="form-control" ng-model="formData.cte"
                        ng-class="{'has-error': cteStateForm.$invalid}"
                        ng-form="cteStateForm" required>

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="ctec" class="control-label">Remark</label>

                <input id="ctec" class="form-control" type="text" ng-model="formData.cte_comment"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="sixthForm"
         ng-class="{'panel-danger': sixthForm.$invalid, 'panel-success': sixthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">5. Sufficient labor(L) concreting tools(T) and equipments(E) are provided</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': lteStateForm.$invalid}" ng-form="lteStateForm">

                <label for="lte" class="control-label">State</label>

                <select class="form-control" ng-model="formData.lte" ng-class="{'has-error': lteStateForm.$invalid}"
                        id="lte" ng-form="lteStateForm" required>

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="no">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="ltec" class="control-label">Remark</label>

                <input id="ltec" class="form-control" type="text" ng-model="formData.lte_comment"/>

            </div>

        </div>


    </div>
</div>

<div class="col-xs-12 col-sm-6 case3">

    <div class="panel" ng-class="{'panel-danger': fifthForm.$invalid, 'panel-success': fifthForm.$valid}"
         ng-form="fifthForm">

        <div class="panel-heading">

            <h3 class="panel-title">6. Concrete is properly protected from high speed wind</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': cppStateForm.$invalid}" ng-form="cppStateForm">

                <label for="ccp" class="control-label">State</label>

                <select class="form-control" ng-model="formData.cpp" ng-class="{'has-error': cppStateForm.$invalid}"
                        id="ccp" ng-form="cppStateForm" required>

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="cppc" class="control-label">Remark</label>

                <input id="cppc" class="form-control" type="text" ng-model="formData.cpp_comment"/>
            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div ng-class="{'panel-danger': thirdForm.$invalid, 'panel-success': thirdForm.$valid}" class="panel"
         ng-form="thirdForm">

        <div class="panel-heading">

            <h3 class="panel-title">7. Provisions for hot-weather concreting</h3>

        </div>

        <div class="panel-body">

            <strong>Forms</strong>, rebars and sub-grade should be thoroughly wetted just before concrete placement:

            <div class="form-group" ng-class="{'has-error': frsStateForm.$invalid}" ng-form="frsStateForm">

                <label for="frs" class="control-label">State</label>

                <select id="frs" class="form-control" ng-model="formData.frs" ng-form="frsStateForm" required
                        ng-class="{'has-error': frsStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="frsc" class="control-label">Remark</label>

                <input id="frsc" class="form-control" type="text" ng-model="formData.frs_comment"/>

            </div>

            <hr/>

            <strong>Casting</strong>, is done during the prohibited time:

            <div class="form-group" ng-class="{'has-error': cddStateForm.$invalid}" ng-form="cddStateForm">

                <label for="cdd" class="control-label">State</label>

                <select id="cdd" class="form-control" ng-model="formData.cdd" ng-form="cddStateForm" required
                        ng-class="{'has-error': cddStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="cddd" class="control-label">Remark</label>

                <input id="cddd" class="form-control" type="text" ng-model="formData.cdd_comment"/>

            </div>

        </div>

    </div>

</div>

<div ng-hide="true">
    <button ng-disabled="controls[0].disabled = mainForm.$invalid">Save</button>
    <button ng-disabled="controls[1].disabled = mainForm.$invalid">Save</button>
</div>

</div>
</div>
</div>
</form>