<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
    <any ng-show="alert">Successfully saved.</any>
    <any ng-hide="alert">Something went wrong.</any>
</div>

<form id="pouringForm" role="form" name="mainForm" class="labForm" novalidate>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="well well-sm">
<div class="row">
<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="firstForm"
         ng-class="{'panel-danger': firstForm.$invalid, 'panel-success': firstForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">1. Basic</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">
                <label for="date" class="control-label">Date</label>

                <div class="input-group">
                    <div class="input-group-btn" ng-show="loginData.senior == 0">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal"
                                ng-disabled="state.indexOf('edit') > -1">
                            Frequents
                        </button>
                    </div>

                    <input ng-show="loginData.senior == 1" id="date" readonly="readonly"
                           ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           ng-model="formData.date" class="form-control" type="text" required/>

                    <input ng-show="loginData.senior == 0" readonly="readonly"
                           ng-model="formData.date" class="form-control" type="text" required/>

                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i> </span>
                </div>

                <div class="modal" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Frequents</h4>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="setToday()" onclick="return false;">
                                        Today
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min1Day()" onclick="return false;">
                                        Yesterday
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min2Days()" onclick="return false;">
                                        2 days ago
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min3Days()" onclick="return false;">
                                        3 days ago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': shiftForm.$invalid}" ng-form="shiftForm">
                <label for="shift_id" class="control-label"> shift </label>

                <select id="shift_id" ng-model="formData.shift_id" class="form-control"
                        ng-disabled="loginData.senior == 0 && state.indexOf('edit') > -1" required>
                    <option value="">Select...</option>
                    <option ng-repeat="shiftType in yii['ShiftType']['list']"
                            ng-selected="shiftType.id === formData.shift_id"
                            value="{{shiftType.id }}">
                        {{shiftType.name}}
                    </option>
                </select>
            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-6">
    <div class="panel" ng-form="secondForm"
         ng-class="{'panel-danger': secondForm.$invalid, 'panel-success': secondForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">2 Pouring location, rebars, and embeds are clean and free foreign materials</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': lreStateForm.$invalid}"
                 ng-form="lreStateForm">
                <label class="control-label"> State </label>

                <select class="form-control" ng-model="formData.lre" ng-class="{'has-error': lreStateForm.$invalid}"
                        ng-form="lreStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': lreCmtForm.$invalid}" ng-form="lreCmtForm">

                <label for="lre" class="control-label">Remark</label>

                <input id="lre" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.lre_comment"
                       required/>
            </div>



        </div>
    </div>

</div>




<div class="col-xs-12 col-sm-6 case1">


</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="fourthForm"
         ng-class="{'panel-danger': fourthForm.$invalid, 'panel-success': fourthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">3 Concreting tools and equipement are clean and free of old concrete, mud, etc</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': cteStateForm.$invalid}"
                 ng-form="cteStateForm">
                <label class="control-label"> State </label>


                <select class="form-control" ng-model="formData.cte" ng-class="{'has-error': cteStateForm.$invalid}"
                        ng-form="cteStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': cteCmtForm.$invalid}" ng-form="cteCmtForm">

                <label for="cte" class="control-label"> Remark </label>

                <input id="cte" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.cte_comment"
                       required/>
            </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 case2">


</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="sixthForm"
         ng-class="{'panel-danger': sixthForm.$invalid, 'panel-success': sixthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">4 Sufficiant labor(L) concreting tools(T) and equiepement(E) are provided </h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': lteStateForm.$invalid}"
                 ng-form="lteStateForm">
                <label class="control-label"> State </label>

                <select class="form-control" ng-model="formData.lte" ng-class="{'has-error': lteStateForm.$invalid}"
                        ng-form="lteStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="no">No</option>
                    <option value="Yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': lteCmtForm.$invalid}" ng-form="lteCmtForm">

                <label for="lte" class="control-label"> Remark </label>

                <input id="lte" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.lte_comment"
                       required/>
            </div>


        </div>


    </div>
</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="fifthForm"
         ng-class="{'panel-danger': fifthForm.$invalid, 'panel-success': fifthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">5 Concrete is properly protected from high speed wind</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': cppStateForm.$invalid}"
                 ng-form="cppStateForm">
                <label class="control-label"> State </label>

                <select class="form-control" ng-model="formData.cpp" ng-class="{'has-error': cppStateForm.$invalid}"
                        ng-form="cppStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': cppCmtForm.$invalid}" ng-form="cppCmtForm">

                <label for="cpp" class="control-label"> Remark </label>

                <input id="cpp" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.cpp_comment"
                       required/>
            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">
    <div class="panel" ng-form="thirdForm"
         ng-class="{'panel-danger': thirdForm.$invalid, 'panel-success': thirdForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">6 Provisions for hot-weather concreting </h3>
        </div>

        <br/>
        <div class="alert alert-warning"><strong>Forms</strong>, rebars and sub-grade should be thoroughly wetted just before concrete placement </div>
        <div class="panel-body" style="margin-top: -6%">
            <div class="form-group" ng-class="{'has-error': frsStateForm.$invalid}"
                 ng-form="frsStateForm">
                <label class="control-label"> State </label>

                <select class="form-control" ng-model="formData.frs" ng-class="{'has-error': frsStateForm.$invalid}"
                        ng-form="frsStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': frsCmtForm.$invalid}" ng-form="frsCmtForm">


                <label for="frs" class="control-label"> Remark </label>

                <input id="frs" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.frs_comment"
                       required/>
            </div>


        </div>

        <br/>
        <div class="alert alert-warning"><strong>Casting</strong>, is done during the prohibited time </div>
        <div class="panel-body" style="margin-top: -6%">
            <div class="form-group" ng-class="{'has-error': cddStateForm.$invalid}"
                 ng-form="cddStateForm">
                <label class="control-label"> State </label>

                <select class="form-control" ng-model="formData.cdd" ng-class="{'has-error': cddStateForm.$invalid}"
                        ng-form="cddStateForm" required>
                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': cddCmtForm.$invalid}" ng-form="cddCmtForm">


                <label for="cdd" class="control-label"> Remark </label>

                <input id="cdd" class="form-control" type="number" pattern="[0-9]*" ng-model="formData.cdd_comment"
                       required/>
            </div>


        </div>

    </div>
</div>

</div>
</div>
</div>
</form>