<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
    <any ng-show="alert">Successfully saved.</any>
    <any ng-hide="alert">Something went wrong.</any>
</div>

<form id="bsbForm" role="form" name="mainForm" class="labForm" novalidate>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="well well-sm">
<div class="row">

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': firstForm.$invalid, 'panel-success': firstForm.$valid}"
         ng-form="firstForm">

        <div class="panel-heading">

            <h3 class="panel-title">1. Basic</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">

                <label for="date" class="control-label">Date</label>

                <div class="input-group">

                    <div class="input-group-btn">

                        <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal">

                            Frequents

                        </button>

                    </div>

                    <input id="date" readonly="readonly" type="text" required class="form-control"
                           ng-model="formData.date"/>

                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                </div>

                <div class="modal" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel"
                     aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>

                                <h4 class="modal-title" id="myModalLabel">Frequents</h4>

                            </div>

                            <div class="modal-body">

                                <div class="list-group">

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="setToday()"
                                       onclick="return false;">
                                        Today
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min1Day()"
                                       onclick="return false;">
                                        Yesterday
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min2Days()"
                                       onclick="return false;">
                                        2 days ago
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min3Days()"
                                       onclick="return false;">
                                        3 days ago
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': shiftForm.$invalid}" ng-form="shiftForm">

                <label for="shift_id" class="control-label">Shift</label>

                <select id="shift_id" ng-model="formData.shift_id" class="form-control" required>

                    <option value="">Select...</option>

                    <option ng-repeat="shiftType in yii['ShiftType']['list']" value="{{shiftType.id }}"
                            ng-selected="shiftType.id === formData.shift_id">
                        {{shiftType.name}}
                    </option>

                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': supForm.$invalid}" ng-form="supForm">

                <label for="supplier" class="control-label">Supplier</label>

                <select id="supplier" class="form-control" ng-model="formData.supplier_id" required>

                    <option value=""></option>

                    <option ng-repeat="supplier in yii['Supplier']['list']" value="{{supplier.id}}"
                            ng-selected="supplier.id == formData.supplier_id">

                        {{supplier.name}}

                    </option>
                </select>

            </div>

            <div class="form-group" ng-class="{'has-error': concForm.$invalid}" ng-form="concForm">

                <label for="concrete" class="control-label">Concrete Class</label>

                <select id="concrete" class="form-control" ng-model="formData.conc_type_id" required>

                    <option value=""></option>

                    <option ng-repeat="conc in yii['ConcreteType']['list']" value="{{conc.id}}"
                            ng-selected="conc.id == formData.conc_type_id">

                        {{conc.name}}

                    </option>

                </select>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': secondForm.$invalid, 'panel-success': secondForm.$valid}"
         ng-form="secondForm">

        <div class="panel-heading">

            <h3 class="panel-title">2. Member identification</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': irForm.$invalid}" ng-form="irForm">

                <label for="ir" class="control-label">IR</label>

                <input id="ir" type="number" class="form-control" ng-model="formData['ir']" required/>
            </div>

            <div class="form-group" ng-class="{'has-error': zoneForm.$invalid}" ng-form="zoneForm">
                <label class="control-label">Zone</label>

                <adrr-select2-wrapper ng-disabled="irFound" ng-model="formData.zone_id" adrr-id="zoneId" required
                                      frequent-prop="very_frequent" adrr-data="yii['Zone']['list']">
                </adrr-select2-wrapper>
            </div>

            <div class="form-group" ng-class="{'has-error': areaForm.$invalid}" ng-form="areaForm">
                <label for="area" class="control-label">Area</label>
                <input id="area" ng-disabled="irFound" type="text" class="form-control" ng-model="formData['area']"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': estVolForm.$invalid}" ng-form="estVolForm">

                <label for="est_vol" class="control-label">Estimated Volume</label>

                <input id="est_vol" ng-disabled="irFound" type="number" class="form-control" required
                       ng-model="formData['est_vol']"/>

            </div>

            <div class="form-group" ng-class="{'has-error': ptForm.$invalid}" ng-form="ptForm">

                <label class="control-label">Pouring Type</label>

                <adrr-select2-wrapper ng-disabled="onePouringType" ng-model="formData.pouring_type_id"
                                      adrr-id="pouring_type_id" required frequent-prop="very_frequent"
                                      adrr-data="pouringTypes">
                </adrr-select2-wrapper>

            </div>

            <div class="form-group" ng-class="{'has-error': axisForm.$invalid}" ng-form="axisForm"
                 ng-show="als.length < 2">
                <label for="axis" class="control-label">Axis</label>

                <input id="axis" type="text" class="form-control" ng-model="formData['axis']" ng-disabled="oneAl"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': levelForm.$invalid}" ng-form="levelForm"
                 ng-show="als.length < 2">
                <label for="level" class="control-label">Level</label>

                <input id="level" type="text" class="form-control" ng-model="formData['level']" ng-disabled="oneAl"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': axis2Form.$invalid}" ng-form="axis2Form"
                 ng-show="als.length > 1">
                <label for="axis2" class="control-label">Axis</label>

                <select id="axis2" class="form-control" ng-model="formData.axis" required>
                    <option ng-repeat="(i, al) in als" value="{{i}}">{{al.axis}}</option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': level2Form.$invalid}" ng-form="level2Form"
                 ng-show="als.length > 1">
                <label for="level2" class="control-label">Level</label>

                <input id="level2" class="form-control" type="text" value="{{als[formData.axis].level}}" required
                       disabled/>
            </div>
        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6 case1">

    <div class="panel panel-success">

        <div class="panel-heading">

            <h3 class="panel-title">3. Pouring Status</h3>

        </div>

        <div class="panel-body">

            <div class="form-group">

                <label class="control-label">Start</label>

                <adrr-timepicker ng-model="formData.start_time"></adrr-timepicker>

            </div>

            <div class="form-group">

                <label class="control-label">End</label>

                <adrr-timepicker ng-model="formData.end_time"></adrr-timepicker>

            </div>

            <div class="form-group">

                <label class="control-label">Completed</label>

                <select class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': thirdForm.$invalid, 'panel-success': thirdForm.$valid}"
         ng-form="thirdForm">

        <div class="panel-heading">

            <h3 class="panel-title">4. Samples</h3>

        </div>

        <div class="panel-body">

            <div class="form-group">

                <label for="numset" class="control-label"> Num of Set </label>

                <input id="numset" class="form-control" type="number" ng-model="formData.num_set"/>

            </div>

            <div class="form-group">

                <label for="numcylinder" class="control-label"> Num of Cylinder </label>

                <input id="numcylinder" class="form-control" type="number" ng-model="formData.num_cylinders"/>

            </div>

            <div class="form-group">

                <label for="comment" class="control-label">Comment</label>

                <textarea id="comment" class="form-control" type="text" ng-model="formData.comment"></textarea>

            </div>

        </div>

    </div>

</div>

<div ng-hide="true">
    <button ng-disabled="controls[0].disabled = mainForm.$invalid ">save add new</button>
    <button ng-disabled="controls[1].disabled = mainForm.$invalid ">save add back to list</button>
</div>

</div>
</div>
</div>
</form>