<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
    <any ng-show="alert">Successfully saved.</any>
    <any ng-hide="alert">Something went wrong.</any>
</div>

<form id="bcForm" role="form" name="mainForm" class="labForm" novalidate>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="well well-sm">
<div class="row">

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': firstForm.$invalid, 'panel-success': firstForm.$valid}"
         ng-form="firstForm">

        <div class="panel-heading">

            <h3 class="panel-title">1. Basic</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">

                <label for="date" class="control-label">Date</label>

                <div class="input-group">

                    <div class="input-group-btn">

                        <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal">

                            Frequents

                        </button>

                    </div>

                    <input id="date" readonly="readonly" type="text" required class="form-control"
                           ng-model="formData.date"/>

                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                </div>

                <div class="modal" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel"
                     aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>

                                <h4 class="modal-title" id="myModalLabel">Frequents</h4>

                            </div>

                            <div class="modal-body">

                                <div class="list-group">

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="setToday()"
                                       onclick="return false;">
                                        Today
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min1Day()"
                                       onclick="return false;">
                                        Yesterday
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min2Days()"
                                       onclick="return false;">
                                        2 days ago
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#" ng-click="min3Days()"
                                       onclick="return false;">
                                        3 days ago
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': shiftForm.$invalid}" ng-form="shiftForm">

                <label for="shift_id" class="control-label">Shift</label>

                <select id="shift_id" ng-model="formData.shift_id" class="form-control" required>

                    <option value="">Select...</option>

                    <option ng-repeat="shiftType in yii['ShiftType']['list']" value="{{shiftType.id }}"
                            ng-selected="shiftType.id === formData.shift_id">
                        {{shiftType.name}}
                    </option>

                </select>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': itemForm.$invalid, 'panel-success': itemForm.$valid}"
         ng-form="itemForm">

        <div class="panel-heading">

            <h3 class="panel-title">2. Item</h3>

        </div>

        <div class="panel-body">
            Here item goes...
        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': secondForm.$invalid, 'panel-success': secondForm.$valid}"
         ng-form="secondForm">

        <div class="panel-heading">

            <h3 class="panel-title">3. The pouring location is free from hazards</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': locationForm.$invalid}" ng-form="locationForm">

                <label for="location" class="control-label">State</label>

                <select class="form-control" ng-model="formData.location" ng-form="locationStateForm" required
                        id="location" ng-class="{'has-error': locationStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="locationcmt" class="control-label">Remark</label>

                <input id="locationcmt" class="form-control" type="text" ng-model="formData.location_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': fourthForm.$invalid, 'panel-success': fourthForm.$valid}"
         ng-form="fourthForm">

        <div class="panel-heading">

            <h3 class="panel-title">4. All safety precautions are considered</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': precautionForm.$invalid}" ng-form="precautionForm">

                <label for="precaution" class="control-label">State</label>

                <select class="form-control" ng-model="formData.precaution" ng-form="precautionStateForm" required
                        ng-class="{'has-error': precautionStateForm.$invalid}" id="precaution">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="precautioncmt" class="control-label">Remark</label>

                <input id="precautioncmt" class="form-control" type="text" ng-model="formData.precaution_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': thirdForm.$invalid, 'panel-success': thirdForm.$valid}"
         ng-form="thirdForm">

        <div class="panel-heading">

            <h3 class="panel-title">5. Formwork is firm and withstanding the pouring process</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': formworkForm.$invalid}" ng-form="formworkForm">

                <label for="formwork" class="control-label">State</label>

                <select class="form-control" ng-model="formData.formwork" ng-form="formworkStateForm" required
                        id="formwork" ng-class="{'has-error': formworkStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="no">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="formworkcmt" class="control-label"> Remark </label>

                <input id="formworkcmt" class="form-control" type="text" ng-model="formData.formwork_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': fifthForm.$invalid, 'panel-success': fifthForm.$valid}"
         ng-form="fifthForm">

        <div class="panel-heading">

            <h3 class="panel-title">6. Contractor supervisor is present during casting</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': contractorForm.$invalid}" ng-form="contractorForm">

                <label for="contractor" class="control-label">State</label>

                <select class="form-control" ng-model="formData.contractor" ng-form="contractorStateForm" required
                        id="contractor" ng-class="{'has-error': contractorStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="contractorcmt" class="control-label"> Remark </label>

                <input id="contractorcmt" class="form-control" type="text" ng-model="formData.contractor_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': sixthForm.$invalid, 'panel-success': sixthForm.$valid}"
         ng-form="sixthForm">

        <div class="panel-heading">

            <h3 class="panel-title">7. Consultant supervisor is present during casting</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': consultantForm.$invalid}" ng-form="consultantForm">

                <label for="consultant" class="control-label">State</label>

                <select class="form-control" ng-model="formData.consultant" ng-form="consultantStateForm" required
                        id="consultant" ng-class="{'has-error': consultantStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="consultantcmt" class="control-label">Remark</label>

                <input id="consultantcmt" class="form-control" type="text" ng-model="formData.consultant_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': seventhForm.$invalid, 'panel-success': seventhForm.$valid}"
         ng-form="seventhForm">

        <div class="panel-heading">

            <h3 class="panel-title">8. Concrete drop-height within the limit (< 2 m )</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dropheightForm.$invalid}" ng-form="dropheightForm">

                <label for="dropheight" class="control-label">State</label>

                <select class="form-control" ng-model="formData.drop_height" ng-form="dropheightStateForm" required
                        id="dropheight" ng-class="{'has-error': dropheightStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="dropheightcmt" class="control-label">Remark</label>

                <input id="dropheightcmt" class="form-control" type="text" ng-model="formData.drop_height_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': eighthForm.$invalid, 'panel-success': eighthForm.$valid}"
         ng-form="eighthForm">

        <div class="panel-heading">
            <h3 class="panel-title">9. Vibration of concrete is correctly performed</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': vibrationForm.$invalid}" ng-form="vibrationForm">

                <label for="vibration" class="control-label">State</label>

                <select class="form-control" ng-model="formData.vibration" ng-form="vibrationStateForm" required
                        id="vibration" ng-class="{'has-error': vibrationStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="vibrationcmt" class="control-label"> Remark </label>

                <input id="vibrationcmt" class="form-control" type="text" ng-model="formData.vibration_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': ninthForm.$invalid, 'panel-success': ninthForm.$valid}"
         ng-form="ninthForm">

        <div class="panel-heading">

            <h3 class="panel-title">10. Finishing of concrete is properly completed</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': finishingForm.$invalid}" ng-form="finishingForm">

                <label for="finishing" class="control-label">State</label>

                <select class="form-control" ng-model="formData.finishing" ng-form="finishingStateForm" required
                        id="finishing" ng-class="{'has-error': finishingStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="finishingcmt" class="control-label">Remark</label>

                <input id="finishingcmt" class="form-control" type="text" ng-model="formData.finishing_cmt"/>

            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-class="{'panel-danger': tenthForm.$invalid, 'panel-success': tenthForm.$valid}"
         ng-form="tenthForm">

        <div class="panel-heading">

            <h3 class="panel-title">11. Curing is immediately done for horizontal elements</h3>

        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': curingForm.$invalid}" ng-form="curingForm">

                <label for="curing" class="control-label">State</label>

                <select class="form-control" ng-model="formData.curing" ng-form="curingStateForm" required
                        id="curing" ng-class="{'has-error': curingStateForm.$invalid}">

                    <option value="">Select...</option>
                    <option value="N/A">N/A</option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>

                </select>

            </div>

            <div class="form-group">

                <label for="curingcmt" class="control-label">Remark</label>

                <input id="curingcmt" class="form-control" type="text" ng-model="formData.curing_cmt"/>

            </div>

        </div>

    </div>

</div>

<div ng-hide="true">
    <button ng-disabled="controls[0].disabled = mainForm.$invalid ">save add new</button>
    <button ng-disabled="controls[1].disabled = mainForm.$invalid ">save add back to list</button>
</div>

</div>
</div>
</div>
</form>