<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
	<any ng-show="alert">Successfully saved.</any>
	<any ng-hide="alert">Something went wrong.</any>
</div>

<form role="form" name="mainForm" class="col-md-4" novalidate >
	<div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">
		<label class="control-label">{{metaData.cols['date'].label}}</label>
		
		<input readonly="readonly" ui-date ui-date-format="yy-mm-dd" ng-model="date" class="form-control" type="text" required />
	</div>
	
	<div class="form-group" ng-class="{'has-error': shiftForm.$invalid}" ng-form="shiftForm">
		<label class="control-label">{{metaData.cols['shift_id'].label}}</label>
		
		<adrr-select2-wrapper ng-model="shiftId" frequent-prop="very_frequent" adrr-data="shiftTypes" required></adrr-select2-wrapper>
	</div>
	
	<div class="form-group" ng-class="{'has-error': supplierForm.$invalid}" ng-form="supplierForm">
		<label class="control-label">{{metaData.cols['supplier_id'].label}}</label>
		
		<adrr-select2-wrapper ng-model="supplierId" frequent-prop="very_frequent" adrr-data="suppliers" required></adrr-select2-wrapper>
	</div>
	
	<div class="form-group" ng-class="{'has-error': concTypeForm.$invalid}" ng-form="concTypeForm">
		<label class="control-label">{{metaData.cols['conc_type_id'].label}}</label>
		
		<adrr-select2-wrapper ng-model="concTypeId" frequent-prop="very_frequent" adrr-data="concreteTypes" required></adrr-select2-wrapper>
	</div>
	
	<div class="form-group" ng-class="{'has-error': temperatureForm.$invalid || checkTempRed()}" ng-form="temperatureForm" ng-hide="concTypeId === '' || concTypeId === undefined">
		<label class="control-label">{{metaData.cols['temperature'].label}}</label>
		
		<input class="form-control" type="number" pattern="[0-9]*" ng-model="temperature" required />
	</div>
	
	<div class="form-group" ng-class="{'has-error': slumpForm.$invalid || checkSlumpRed(), 'has-warning': checkSlumpYellow()}" ng-form="slumpForm" ng-show="getItemById(concreteTypes, concTypeId).category === 'slump'">
		<label class="control-label">{{metaData.cols['slump'].label}}</label>
		
		<input class="form-control" type="number" pattern="[0-9]*" ng-model="slump" ng-required="getItemById(concreteTypes, concTypeId).category === 'slump'" />
	</div>
	
	<div class="form-group" ng-class="{'has-error': flowForm.$invalid || checkFlowRed(), 'has-warning': checkFlowYellow()}" ng-form="flowForm" ng-show="getItemById(concreteTypes, concTypeId).category === 'flow'">
		<label class="control-label">{{metaData.cols['flow'].label}}</label>
		
		<input class="form-control" type="number" pattern="[0-9]*" ng-model="flow" ng-required="getItemById(concreteTypes, concTypeId).category === 'flow'" />
	</div>
	
	<div class="form-group" ng-class="{'has-error': plantForm.$invalid}" ng-form="plantForm">
		<label class="control-label">{{metaData.cols['plant'].label}}</label>
		
		<input class="form-control" type="number" pattern="[0-9]*" ng-model="plant" typeahead="obj.plant for obj in plants | filter:$viewValue | limitTo:8" required />
	</div>
	
	<div class="form-group" ng-class="{'has-error': truckForm.$invalid}" ng-form="truckForm">
		<label class="control-label">{{metaData.cols['truck'].label}}</label>
		
		<input class="form-control" type="number" pattern="[0-9]*" ng-model="truck" typeahead="obj.truck for obj in trucks | filter:$viewValue | limitTo:8" required />
	</div>
	
	<div class="form-group" ng-class="{'has-error': ticketForm.$invalid}" ng-form="ticketForm">
		<label class="control-label">{{metaData.cols['ticket'].label}}</label>
		
		<input class="form-control" type="text" ng-model="ticket" required />
	</div>
	
	<div class="form-group">
		<label class="control-label">{{metaData.cols['dept_time'].label}}</label>
		
		<adrr-timepicker adrr-options="adrrTimepickerOptions" ng-model="deptTime"></adrr-timepicker>
	</div>
	
	<div class="form-group">
		<label class="control-label">{{metaData.cols['arriv_time'].label}}</label>
		
		<adrr-timepicker adrr-options="adrrTimepickerOptions" ng-model="arrivTime"></adrr-timepicker>
	</div>
	
	<div class="form-group" ng-class="{'has-error': truckLoadForm.$invalid}" ng-form="truckLoadForm">
		<label class="control-label">{{metaData.cols['truck_load'].label}}</label>
		
		<input adrr-num-range adrr-options="adrrTimepickerOptions" min="1" max="12" type="text" pattern="[0-9]*" value="" ng-model="truckLoad" class="form-control" required />
	</div>
	
	<div class="form-group">
		<button class="btn btn-primary" data-toggle="modal" href="#myModal" onclick="return false;" ng-disabled="mainForm.$invalid">
			Save
		</button>
	</div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			
			<div class="modal-body">
				<table class="table table-striped">
					<tr>
						<td>Date</td>
						<td>{{date}}</td>
					</tr>
					<tr>
						<td>Shift</td>
						<td>{{getItemById(shiftTypes, shiftId).name}}</td>
					</tr>
					<tr>
						<td>Supplier</td>
						<td>{{getItemById(suppliers, supplierId).name}}</td>
					</tr>
					<tr>
						<td>Concrete Type</td>
						<td>{{getItemById(concreteTypes, concTypeId).name}}</td>
					</tr>
					<tr>
						<td>Plant</td>
						<td>{{plant}}</td>
					</tr>
					<tr>
						<td>Truck</td>
						<td>{{truck}}</td>
					</tr>
					<tr>
						<td>Ticket</td>
						<td>{{ticket}}</td>
					</tr>
					<tr>
						<td>Departure time</td>
						<td>{{deptTime}}</td>
					</tr>
					<tr>
						<td>Arrival time</td>
						<td>{{arrivTime}}</td>
					</tr>
					<tr>
						<td>Truck load (m3)</td>
						<td>{{truckLoad}}</td>
					</tr>
					<tr>
						<td>Temperature</td>
						<td>{{temperature}}</td>
					</tr>
					<tr>
						<td>Slump</td>
						<td>{{slump}}</td>
					</tr>
					<tr>
						<td>Flow</td>
						<td>{{flow}}</td>
					</tr>
				</table>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit()">Save</button>
			</div>
		</div>
	</div>
</div>