<div ng-show="showAlert" class="alert" ng-class="{ 'alert-success': alert, 'alert-danger': !alert }">
    <any ng-show="alert">Successfully saved.</any>
    <any ng-hide="alert">Something went wrong.</any>
</div>

<form id="pouringForm" role="form" name="mainForm" class="labForm" novalidate>
<div class="col-xs-12 col-lg-10 col-lg-offset-1">
<div class="well well-sm">
<div class="row">
<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="firstForm"
         ng-class="{'panel-danger': firstForm.$invalid, 'panel-success': firstForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">1. Basics</h3>
        </div>

        <div class="panel-body">

            <div class="form-group" ng-class="{'has-error': dateForm.$invalid}" ng-form="dateForm">
                <label for="date" class="control-label">Date</label>

                <div class="input-group">
                    <div class="input-group-btn" ng-show="loginData.role == 4">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal"
                                ng-disabled="state.indexOf('edit') > -1">
                            Frequents
                        </button>
                    </div>

                    <input ng-show="loginData.role == 3" id="date" readonly="readonly"
                           ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd"
                           ng-model="formData.date" class="form-control" type="text" required/>

                    <input ng-show="loginData.role == 4" readonly="readonly"
                           ng-model="formData.date" class="form-control" type="text" required/>

                    <span class="input-group-addon ar-info"><i class="glyphicon glyphicon-calendar"></i> </span>
                </div>

                <div class="modal" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Frequents</h4>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="setCurrentShift()" onclick="return false;">
                                        Current Shift
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="setToday()" onclick="return false;">
                                        Today
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min1Day()" onclick="return false;">
                                        Yesterday
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min2Days()" onclick="return false;">
                                        2 days ago
                                    </a>

                                    <a data-dismiss="modal" class="list-group-item" href="#"
                                       ng-click="min3Days()" onclick="return false;">
                                        3 days ago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !shiftForm.$valid}" ng-form="shiftForm">
                <label for="shift_id" class="control-label">Shift</label>
                <select id="shift_id" class="form-control" ng-model="formData['shift_id']" required>
                    <option ng-repeat="shift in yii['ShiftType']['list']" value="{{shift.id}}">
                        {{shift.name}}
                    </option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': supplierForm.$invalid}" ng-form="supplierForm">

                <label class="control-label">{{yii['Lab']['cols']['supplier_id'].label}}</label>

                <adrr-select2-wrapper ng-model="formData.supplier_id" adrr-id="supId" required
                                      frequent-prop="very_frequent" adrr-data="yii['Supplier']['list']">
                </adrr-select2-wrapper>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="thirdForm"
         ng-class="{'panel-danger': thirdForm.$invalid, 'panel-success': thirdForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">2. Truck</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': ticketForm.$invalid}" ng-form="ticketForm">
                <label for="ticket" class="control-label">Ticket</label>

                <div class="input-group">
                    <span class="input-group-addon">{{prefix}}</span>
                    <input id="ticket" type="number" class="form-control" ng-model="formData['ticket']" required
                           ng-readonly="formData['supplier_id'] === undefined || formData['supplier_id'] === ''"/>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': truckForm.$invalid}" ng-form="truckForm">
                <label for="truck" class="control-label">Truck</label>

                <input ng-disabled="ticketFound" id="truck" type="number" class="form-control"
                       ng-model="formData['truck']" required/>
            </div>

            <div class="form-group" ng-class="{'has-error': concForm.$invalid}" ng-form="concForm">
                <label for="conc_type_id" class="control-label">Concrete</label>
                <select ng-disabled="ticketFound" id="conc_type_id" class="form-control"
                        ng-model="formData['conc_type_id']" required>
                    <option ng-repeat="concType in yii['ConcreteType']['list']" value="{{concType.id}}"
                            ng-selected="formData['conc_type_id'] === concType.id">{{concType.name}}
                    </option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': truckLoadForm.$invalid}"
                 ng-form="truckLoadForm">
                <label for="truck_load" class="control-label">Truck Load</label>

                <input ng-disabled="ticketFound" id="truck_load" type="number" class="form-control"
                       ng-model="formData['truck_load']" required/>
            </div>

            <div class="form-group" ng-class="{'has-error': deptForm.$invalid}" ng-form="deptForm">
                <label class="control-label">Dept Time</label>

                <adrr-timepicker ng-disabled="ticketFound" required ng-model="formData.dept_time"></adrr-timepicker>
            </div>

            <div class="form-group" ng-class="{'has-error': pouredForm.$invalid}" ng-form="pouredForm">
                <label for="poured_qty" class="control-label">Poured QTY</label>

                <div class="input-group">
                    <input id="poured_qty" type="number" adrr-num-range max="{{total - used}}" min="1"
                           class="form-control" ng-model="formData.poured_qty" required/>
                    <span class="input-group-addon ar-info">remained: {{total - used}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 case1">

    <div class="panel" ng-form="secondForm"
         ng-class="{'panel-danger': secondForm.$invalid, 'panel-success': secondForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">3. Member identification</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': irForm.$invalid}" ng-form="irForm">
                <label for="ir" class="control-label">IR</label>
                <input id="ir" type="number" class="form-control" ng-model="formData['ir']" required/>
            </div>

            <div class="form-group" ng-class="{'has-error': zoneForm.$invalid}" ng-form="zoneForm">
                <label class="control-label">Zone</label>

                <adrr-select2-wrapper ng-disabled="irFound" ng-model="formData.zone_id" adrr-id="zoneId" required
                                      frequent-prop="very_frequent" adrr-data="yii['Zone']['list']">
                </adrr-select2-wrapper>
            </div>

            <div class="form-group" ng-class="{'has-error': areaForm.$invalid}" ng-form="areaForm">
                <label for="area" class="control-label">Area</label>
                <input id="area" ng-disabled="irFound" type="text" class="form-control" ng-model="formData['area']"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': estVolForm.$invalid}" ng-form="estVolForm">
                <label for="est_vol" class="control-label">Estimated Volume</label>
                <input id="est_vol" ng-disabled="irFound" type="number" class="form-control"
                       ng-model="formData['est_vol']" required/>
            </div>

            <div class="form-group" ng-class="{'has-error': ptForm.$invalid}" ng-form="ptForm">
                <label class="control-label">Pouring Type</label>

                <adrr-select2-wrapper ng-disabled="onePouringType" ng-model="formData.pouring_type_id"
                                      adrr-id="pouring_type_id" required
                                      frequent-prop="very_frequent" adrr-data="pouringTypes">
                </adrr-select2-wrapper>
            </div>

            <div class="form-group" ng-class="{'has-error': axisForm.$invalid}" ng-form="axisForm"
                 ng-show="als.length < 2">
                <label for="axis" class="control-label">Axis</label>

                <input id="axis" type="text" class="form-control" ng-model="formData['axis']" ng-disabled="oneAl"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': levelForm.$invalid}" ng-form="levelForm"
                 ng-show="als.length < 2">
                <label for="level" class="control-label">Level</label>

                <input id="level" type="text" class="form-control" ng-model="formData['level']" ng-disabled="oneAl"
                       required/>
            </div>

            <div class="form-group" ng-class="{'has-error': axis2Form.$invalid}" ng-form="axis2Form"
                 ng-show="als.length > 1">
                <label for="axis2" class="control-label">Axis</label>

                <select id="axis2" class="form-control" ng-model="formData.axis" required>
                    <option ng-repeat="(i, al) in als" value="{{i}}">{{al.axis}}</option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': level2Form.$invalid}" ng-form="level2Form"
                 ng-show="als.length > 1">
                <label for="level2" class="control-label">Level</label>

                <input id="level2" class="form-control" type="text" value="{{als[formData.axis].level}}" required
                       disabled/>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="fourthForm"
         ng-class="{'panel-danger': fourthForm.$invalid, 'panel-success': fourthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">4. Redozing</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': slumpbForm.$invalid}" ng-form="slumpbForm">
                <label for="slumpb" class="control-label">Slump B</label>
                <input id="slumpb" type="number" class="form-control" ng-model="formData['slump_b']"/>
            </div>

            <div class="form-group" ng-class="{'has-error': hrwrForm.$invalid}" ng-form="hrwrForm">
                <label for="hrwr" class="control-label">HRWR (ltr)</label>
                <input id="hrwr" type="number" class="form-control" ng-model="formData['hrwr']"/>
            </div>

            <div class="form-group" ng-class="{'has-error': waterForm.$invalid}" ng-form="waterForm">
                <label for="water" class="control-label">Water (ltr)</label>
                <input id="water" type="number" class="form-control" ng-model="formData['water']"/>
            </div>

            <div class="form-group" ng-class="{'has-error': slumpaForm.$invalid}" ng-form="slumpaForm">
                <label for="slumpa" class="control-label">Slump A</label>
                <input id="slumpa" type="number" class="form-control" ng-model="formData['slump_a']"/>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 case2">

    <div class="panel" ng-form="fifthForm"
         ng-class="{'panel-danger': fifthForm.$invalid, 'panel-success': fifthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">5. Pouring Info</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': acptForm.$invalid}" ng-form="acptForm">
                <label for="accepted" class="control-label">Accepted</label>
                <select id="accepted" class="form-control" ng-model="formData['accepted']" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div class="form-group" ng-class="{'has-error': pumpForm.$invalid}" ng-form="pumpForm">
                <label class="control-label">Pump</label>
                <!--<select class="form-control" ng-model="formData['pump_id']" required>
                    <option ng-repeat="pump in yii['Pump']['list']" value="{{pump.id}}">{{pump.name}}</option>
                </select>-->

                <adrr-select2-wrapper ng-model="formData.pump_id" adrr-id="pumpId" required
                                      frequent-prop="very_frequent" adrr-data="yii['Pump']['list']">
                </adrr-select2-wrapper>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6">

    <div class="panel" ng-form="sixthForm"
         ng-class="{'panel-danger': sixthForm.$invalid, 'panel-success': sixthForm.$valid}">

        <div class="panel-heading">
            <h3 class="panel-title">6. Casting Time</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" ng-class="{'has-error': startForm.$invalid}" ng-form="startForm">
                <label class="control-label">Start</label>

                <adrr-timepicker required ng-model="formData.start_time"></adrr-timepicker>
            </div>

            <div class="form-group" ng-class="{'has-error': endForm.$invalid}" ng-form="endForm">
                <label class="control-label">End</label>

                <adrr-timepicker required ng-model="formData.end_time"></adrr-timepicker>
            </div>

            <div class="from-group" ng-show="state.indexOf('edit') === -1">
                <label for="comment" class="control-label">Comment</label>

                <textarea id="comment" ng-model="comment" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>

<div ng-hide="true">
    <button ng-disabled="controls[0].disabled = mainForm.$invalid || !irFound">save add new</button>
    <button ng-disabled="controls[1].disabled = mainForm.$invalid || !irFound">save add new with same ir</button>
    <button ng-disabled="controls[2].disabled = mainForm.$invalid || !irFound">save add back to list</button>
    <button ng-disabled="controls[3].disabled = formData.date === undefined || formData.date === ''">save add new
    </button>
</div>
</div>
</div>
</div>
</form>